.scrollContain {
	position: relative;
	width: 850px;
	background: #eee;
}

.scrollContent {
	overflow: hidden;
}

.scrollList {
	list-style-type: none;
	position: relative;
	left: -205px;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	padding-bottom:10px;
}


.scrollButton {
	box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
	display: none;
  height: 100%;
  margin-top: 0;
  max-height: 250px;
  width: 50px;
  position: absolute;
  z-index: 100;
}
.scrollButton.prev {
  top: 0px;
  left: 0px;
}
.scrollButton.next {
  top: 0px;
  right: 0px;
}


.scrollItem {
	float: left;
	position: relative;
	width: 200px;
	height: 210px;
	padding: 0px;
	margin: 10px 5px;
	background: #000;
}
.scrollItem .company {
	position: absolute;
	top: 0px;
	width: 100%;
	text-align: center;
	font-size: .8em;
	color: #aaa;
	background-color: rgba(0, 0, 0, 0.2);
}
.scrollItem .image {
	height: 100%;
	width: 100%;
}
.scrollItem .name {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-size: 1em;
	color: #aaa;
	background-color: rgba(0, 0, 0, 0.2);
}
.scrollItem .overlay {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #888;
	background-color: rgba(0, 0, 0, 0.5);
	line-height: 200px;
}
.scrollItem .overlay small {
	vertical-align:middle;
	line-height: normal;
	display: inline-block;
}


.tooltipItem {
	display: none;
	position: absolute;
	z-index: 50;
	
	color: #000;
	background: #999;
	width: 250px;
	padding: 6px;
}
.tooltipItem .company {
	font-size: .8em;
	text-align: center;
}
.tooltipItem .description {
	padding: 1em .1em .5em .1em;
	font-size: 1em;
	text-align: left;
}
.tooltipItem .link {
	font-size: .8em;
	text-align: right;
}
.tooltipItem .name {
	font-size: 1.2em;
	text-align: center;
}
.tooltipItem a {
	color: #000;
}
